/* обнуляющие стили */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/* подключение шрифта Raleway */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

/* подключение шрифта Stapel */
@font-face {
	font-family: 'Stapel';
	src: url('./fonts/Stapel-Bold.eot');
	src: local('☺'), url('./fonts/Stapel-Bold.woff') format('woff'), url('./fonts/Stapel-Bold.ttf') format('truetype'), url('./fonts/Stapel-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* навигация */ 
.navbar {
    width: 100%;
    height: 80px;
    background: rgba(252, 252, 252, 0.9);
}

.navbar a {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28.18px;
    color: #000;
}

/* главный блок */
.main {
    height: 996px;
    background: url('../img/Bg.png') top right/cover no-repeat;
}

.main-text {
    margin-top: 33%;
    width: 600px;
}

.main-text h1 {
    margin: 16px 0;
	font-family: 'Stapel';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 91px;
}

.main-text p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.main .btn-modal {
    box-sizing: border-box;
    text-align: center;
    padding: 12px 20px;
    width: 200px;
    height: 44px;
    border: 1px solid rgba(13, 13, 13, 0.95);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background: #fff;
    margin-top: 80px;
}

/* слайдер */
.slider-wrapper {
    position: relative;
    max-width: 100%;
    height: 900px;
    margin: 100px auto;
    overflow: hidden;
}

.slider-container {
    position: relative;
    margin: 0 auto;
    height: 800px;
    max-width: 1920px;
}

.slider-track {
    display: flex;
    transition: 1s;
    position: relative;
    
    
    
}

.slider-item {
    position: absolute;
    z-index: -1;
}

.slider-item:nth-child(1) {
    left: -940px;
}

.slider-item:nth-child(2) {
    left: 260px;
}

.slider-item:nth-child(3) {
    left: 1460px;
}

.slider-buttons {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    max-width: 1400px;
    position: relative;
    top: 50%;
    padding: 0 10px;

}

.arrow {
    display: flex;
    flex-direction: row;
    padding: 14px;

    width: 48px;
    height: 48px;
    background-color: #fff;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 14px;
}

.slider-tittel {
    font-family: 'Stapel';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 81px;
}

.slider-item img{
    transition: 1s;
    opacity: 1;
}

/* карточки */
.cadrs {
    border: 1px solid #000;
    margin-bottom: 150px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    background: #FAFAFA;
    border-radius: 8px;

    max-width: 440px;
    height: 740px;
}

.card-wrapper img {
    max-width: 100%;
}

.card-wrapper .btn-modal {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    margin-top: auto; 

    border: 1px solid rgb(13, 13, 13, 0.95);
    box-sizing: border-box;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.card-buttons {
    display: flex;
    justify-content: end;
}

.cards h2 {
    font-family: 'Stapel';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 81px;

    display: flex;
    align-items: center;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.cards h3 {
    font-family: 'Stapel';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;

    color: rgb(51, 51, 51, 0.8);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
}

.cards p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;

    color: rgba(0, 0, 0, 0.8);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
}

.card-btn {
    margin: 20px 10px 0;
}

.cadrs .btn-modal {
    align-self: flex-end;
    margin: 0;
    background: none;
}

/* форма */
.form-wrapper {
    position: relative;
    margin-top: 5%;
}

.form-bg {
    display: flex;
    justify-content: center;
    height: 1000px;
    margin-bottom: 150px;
}

.form-bg-left {
    width: 100%;
    background: url('../img/form1.png') center right no-repeat;
}

.form-bg-right {
    width: 100%;
    background: url('../img/form2.png') center left no-repeat;
}

.form {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 680px;
    height: 710px;
    
    left: 50%;
    transform: translate(-50%, 0);

    background: rgba(252, 252, 252, 0.9);
    backdrop-filter: blur(30px);

    border-radius: 4px;

    margin-top: 180px;
}

.form form {
    position: absolute;
    top: 80px;
    width: 441px;
    height: 557px;
}

.form p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.8);
}

.form .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    
}

.input {
    display: flex;

}

.input input {
    max-width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;

    position: static;
    width: 440px;
    height: 44px;
    left: 0px;
    top: 0px;

    border: 1px solid #0D0D0D;
    box-sizing: border-box;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;

    background: none;
}

.input textarea {
    box-sizing: border-box;

    width: 100%;
    height: 112px;
    border: 1px solid #0D0D0D;
    padding: 9px 16px;

    margin: 16px 0px;
    background: none;

    resize: none;
}

.form-button {
    padding: 12px 0;
    width: 49%;
    text-align: left;

    background: none;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #0D0D0D;
}

.submit-button {
    padding: 12px 20px;
    width: 50%;
    border: 1px solid #0D0D0D;

    background: none;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
 
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #0D0D0D;
} 

.form-wrapper h2 {
    font-family: 'Stapel';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 81px;

    color: #1A1A1A;
}

.form-wrapper img {
    max-width: 100%;

}

/* Список */
.list-wrapper {
    display: flex;
    justify-content: center;
}

.list {
    width: 1160px;
    
}

.list-header {
    display: flex;
    justify-content: space-between;
    
}

.list h2 {
    font-family: 'Stapel';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 81px;
    /* identical to box height */

    display: flex;
    align-items: center;
}

.list h3 {
    font-family: 'Stapel';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    display: flex;
    align-items: center;

    /* Black 90% */

    color: rgba(0, 0, 0, 0.9);
}

.list p {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */
    max-width: 650px;

    /* Black 70% */

    color: rgba(0, 0, 0, 0.7);
}

.list-item {
    background: #F9F9F9;
    border-radius: 4px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
    padding: 32px;
}


.list-item button{
    transform-origin: center;
    transition: rotate(90deg);
}



footer.navbar {
    background: none;
}